{
  "ConnectionStrings": {
    "DefaultConnection": "Server=YOUR_SERVER;Database=YOUR_DATABASE;User Id=YOUR_USERNAME;Password=YOUR_PASSWORD;"
  },
  "AzureBlobStorage": {
    "ConnectionString": "YOUR_AZURE_BLOB_CONNECTION_STRING",
    "ContainerName": "YOUR_CONTAINER_NAME"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
} 